/* SVG Fullscreen */
#fullscreenBtn {
    all: unset;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    /*background-color: #007bff;*/
    background-color: rgba(145, 0, 0, 0.1);
    border-inline-start: 2px solid #910000;
    border-block-end: 2px solid #910000;
    border-block-start: none;
    border-inline-end: none;
    padding: 10px;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popSize 3.5s linear infinite;
}

#fullscreenBtn:hover {
    transform: scale(1.05); 
}


@keyframes popSize {
    0% {
        padding: 10px;
        background-color: rgba(145, 0, 0, 0.1);
        border-inline-start: 2px solid #910000;
        border-block-end: 2px solid #910000;
    }
    1% {
        padding: 15px;
        background-color: rgba(145, 0, 0, 0.5);
        border-inline-start: 2px solid #444444;
        border-block-end: 2px solid #444444;
    }
    8% {
        padding: 10px;
        background-color: rgba(145, 0, 0, 0.1);
        border-inline-start: 2px solid #910000;
        border-block-end: 2px solid #910000;
    }
    15% {
        padding: 15px;
        background-color: rgba(145, 0, 0, 0.5);
        border-inline-start: 2px solid #444444;
        border-block-end: 2px solid #444444;
    }
    22% {
        padding: 10px;
        background-color: rgba(145, 0, 0, 0.1);
        border-inline-start: 2px solid #910000;
        border-block-end: 2px solid #910000;
    }
    100% {
        padding: 10px;
        background-color: rgba(145, 0, 0, 0.1);
        border-inline-start: 2px solid #910000;
        border-block-end: 2px solid #910000;
    }
}